# LLM & API Keys
GROQ_API_KEY=your_groq_api_key
LLM_MODEL=qwen/qwen3-32b

# Weaviate Vector Database Config
Weaviate_API_KEY=your_weaviate_api_key
Weaviate_REST_Endpoint=your_weaviate_rest_endpoint

# DeepEval Config
DEEPEVAL_TELEMETRY=true
